# Cleaning removing nan values from dataset

hot encoding this one since it is better for randomforet (LLM)

In [ ]:
from taxipred.utils.constants import TAXI_DATA
import pandas as pd

df = pd.read_csv(TAXI_DATA)

df.head(5)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [30]:
df_no_nan_values= df.dropna()
df_no_nan_values

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914
...,...,...,...,...,...,...,...,...,...,...,...
990,40.17,Evening,Weekday,3.0,Low,Clear,3.81,0.66,0.42,62.66,56.6394
992,14.34,Afternoon,Weekday,1.0,Medium,Clear,3.23,1.01,0.29,45.07,30.7837
994,18.69,Evening,Weekday,3.0,Medium,Clear,4.90,1.79,0.17,79.41,51.8548
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090

In [21]:
df_no_nan_values["Passenger_Count"] = df_no_nan_values["Passenger_Count"].astype(int)
df_no_nan_values

C:\Users\alici\AppData\Local\Temp\ipykernel_23812\575746391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan_values["Passenger_Count"] = df_no_nan_values["Passenger_Count"].astype(int)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3,3.56,0.80,0.32,53.82,36.2624
2,36.87,Evening,Weekend,1,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4,3.48,0.51,0.15,116.81,36.4698
5,8.64,Afternoon,Weekend,2,2.55,1.71,0.48,89.33,60.2028
12,41.79,Night,Weekend,3,4.60,1.77,0.11,86.95,88.1328
...,...,...,...,...,...,...,...,...,...
990,40.17,Evening,Weekday,3,3.81,0.66,0.42,62.66,56.6394
992,14.34,Afternoon,Weekday,1,3.23,1.01,0.29,45.07,30.7837
994,18.69,Evening,Weekday,3,4.90,1.79,0.17,79.41,51.8548
995,5.49,Afternoon,Weekend,4,2.39,0.62,0.49,58.39,34.4049
998,47.56,Morning,Weekday,1,2.67,0.82,0.17,114.94,61.2090

In [23]:
df_hot_encoding1 = pd.get_dummies(df_no_nan_values, columns=["Time_of_Day"], dtype=int)
df_hot_encoding1

,Trip_Distance_km,Day_of_Week,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,Weekday,3,3.56,0.80,0.32,53.82,36.2624,0,0,1,0
2,36.87,Weekend,1,2.70,1.21,0.15,37.27,52.9032,0,1,0,0
3,30.33,Weekday,4,3.48,0.51,0.15,116.81,36.4698,0,1,0,0
5,8.64,Weekend,2,2.55,1.71,0.48,89.33,60.2028,1,0,0,0
12,41.79,Weekend,3,4.60,1.77,0.11,86.95,88.1328,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
990,40.17,Weekday,3,3.81,0.66,0.42,62.66,56.6394,0,1,0,0
992,14.34,Weekday,1,3.23,1.01,0.29,45.07,30.7837,1,0,0,0
994,18.69,Weekday,3,4.90,1.79,0.17,79.41,51.8548,0,1,0,0
995,5.49,Weekend,4,2.39,0.62,0.49,58.39,34.4049,1,0,0,0
998,47.56,Weekday,1,2.67,0.82,0.17,114.94,61.2090,0,0,1,0

In [24]:
df_hot_encoding2 = pd.get_dummies(df_hot_encoding1, columns=["Day_of_Week"], dtype=int)
df_hot_encoding2

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekday,Day_of_Week_Weekend
0,19.35,3,3.56,0.80,0.32,53.82,36.2624,0,0,1,0,1,0
2,36.87,1,2.70,1.21,0.15,37.27,52.9032,0,1,0,0,0,1
3,30.33,4,3.48,0.51,0.15,116.81,36.4698,0,1,0,0,1,0
5,8.64,2,2.55,1.71,0.48,89.33,60.2028,1,0,0,0,0,1
12,41.79,3,4.60,1.77,0.11,86.95,88.1328,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,40.17,3,3.81,0.66,0.42,62.66,56.6394,0,1,0,0,1,0
992,14.34,1,3.23,1.01,0.29,45.07,30.7837,1,0,0,0,1,0
994,18.69,3,4.90,1.79,0.17,79.41,51.8548,0,1,0,0,1,0
995,5.49,4,2.39,0.62,0.49,58.39,34.4049,1,0,0,0,0,1
998,47.56,1,2.67,0.82,0.17,114.94,61.2090,0,0,1,0,1,0