# Cleaning and remove all nan values

In [1]:
from taxipred.utils.constants import TAXI_DATA
import pandas as pd

df = pd.read_csv(TAXI_DATA)

df.head(5)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [2]:
df_drop = df.drop(columns=["Weather", "Traffic_Conditions"])
df_drop

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,4.34,NaN,0.23,29.69,45.4437

dont fill nan here do after train split test, blir datalekage annars

In [3]:
df_drop["Passenger_Count"] = df_drop["Passenger_Count"].astype('Int64')
df_drop.head(5)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3,2.93,0.63,0.32,22.64,15.6180

In [4]:
df_drop_en = pd.get_dummies(df_drop, columns=["Day_of_Week"], drop_first=True, dtype=int)

In [5]:
df_clean = pd.get_dummies(df_drop_en, columns=["Time_of_Day"], drop_first=True, dtype=int)

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Passenger_Count        950 non-null    Int64
 2   Base_Fare              950 non-null    float64
 3   Per_Km_Rate            950 non-null    float64
 4   Per_Minute_Rate        950 non-null    float64
 5   Trip_Duration_Minutes  950 non-null    float64
 6   Trip_Price             951 non-null    float64
 7   Day_of_Week_Weekend    1000 non-null   int64
 8   Time_of_Day_Evening    1000 non-null   int64
 9   Time_of_Day_Morning    1000 non-null   int64
 10  Time_of_Day_Night      1000 non-null   int64
dtypes: Int64(1), float64(6), int64(4)
memory usage: 87.0 KB

In [7]:
df

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
...,...,...,...,...,...,...,...,...,...,...,...
995,5.49,Afternoon,Weekend,4.0,Medium,Clear,2.39,0.62,0.49,58.39,34.4049
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
998,47.56,Morning,Weekday,1.0,Low,Clear,2.67,0.82,0.17,114.94,61.2090
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

In [8]:
df_cleand = df_clean.dropna()

In [9]:
df_cleand.info()

<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 0 to 998
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       700 non-null    float64
 1   Passenger_Count        700 non-null    Int64
 2   Base_Fare              700 non-null    float64
 3   Per_Km_Rate            700 non-null    float64
 4   Per_Minute_Rate        700 non-null    float64
 5   Trip_Duration_Minutes  700 non-null    float64
 6   Trip_Price             700 non-null    float64
 7   Day_of_Week_Weekend    700 non-null    int64
 8   Time_of_Day_Evening    700 non-null    int64
 9   Time_of_Day_Morning    700 non-null    int64
 10  Time_of_Day_Night      700 non-null    int64
dtypes: Int64(1), float64(6), int64(4)
memory usage: 66.3 KB

In [10]:
columns = ["Trip_Distance_km", "Passenger_Count", "Base_Fare", "Per_Km_Rate", 
           "Per_Minute_Rate", "Trip_Duration_Minutes", "Trip_Price", "Day_of_Week_Weekend",
                "Time_of_Day_Evening", "Time_of_Day_Morning", "Time_of_Day_Night"]

for col in columns:
        Q1 = df_cleand[col].quantile(0.25)
        Q3 = df_cleand[col].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
    
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]

In [11]:
df_cleand["Trip_Price"].describe().T

count    700.000000
mean      57.094640
std       41.740183
min        6.126900
25%       33.507600
50%       50.096200
75%       69.485050
max      332.043689
Name: Trip_Price, dtype: float64

In [12]:
df_cleand[df_cleand["Trip_Price"].isnull()]

Empty DataFrame
Columns: [Trip_Distance_km, Passenger_Count, Base_Fare, Per_Km_Rate, Per_Minute_Rate, Trip_Duration_Minutes, Trip_Price, Day_of_Week_Weekend, Time_of_Day_Evening, Time_of_Day_Morning, Time_of_Day_Night]
Index: []

In [13]:
df_cleand["Trip_Price"].isnull().sum()

np.int64(0)

In [14]:
df_cleand["Trip_Price"].describe()

count    700.000000
mean      57.094640
std       41.740183
min        6.126900
25%       33.507600
50%       50.096200
75%       69.485050
max      332.043689
Name: Trip_Price, dtype: float64

In [15]:
df_cleand["Trip_Price"] = pd.cut(df_cleand["Trip_Price"], 
        bins=[0, 22, 33, 52, 66, 100, 350], 
        labels=["Low", "sort of low", "medium", "high", "very high", "Extremey high"])

df_cleand.head()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Day_of_Week_Weekend,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,3,3.56,0.80,0.32,53.82,medium,0,0,1,0
2,36.87,1,2.70,1.21,0.15,37.27,high,1,1,0,0
3,30.33,4,3.48,0.51,0.15,116.81,medium,0,1,0,0
5,8.64,2,2.55,1.71,0.48,89.33,high,1,0,0,0
12,41.79,3,4.60,1.77,0.11,86.95,very high,1,0,0,1

In [16]:
df_cleand[df_cleand["Trip_Price"].isnull()]

Empty DataFrame
Columns: [Trip_Distance_km, Passenger_Count, Base_Fare, Per_Km_Rate, Per_Minute_Rate, Trip_Duration_Minutes, Trip_Price, Day_of_Week_Weekend, Time_of_Day_Evening, Time_of_Day_Morning, Time_of_Day_Night]
Index: []

In [17]:
df_cleand.to_csv("../data/remove_na_log_reg.csv", index=False)