# Logistic regression

In [1]:
from taxipred.utils.constants import TAXI_FILLED_NA
import pandas as pd 
df = pd.read_csv(TAXI_FILLED_NA)

df.head(5)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Day_of_Week_Weekend,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,3,3.56,0.80,0.32,53.82,medium,0,0,1,0
1,8.64,2,2.55,1.71,0.48,89.33,high,1,0,0,0
2,15.91,4,4.42,1.77,0.21,114.93,high,0,0,1,0
3,26.71,4,4.30,1.59,0.20,111.18,very high,1,0,0,0
4,30.98,1,4.50,0.84,0.25,57.02,medium,1,0,0,0

In [2]:
y=df["Trip_Price"]
y.head()

0       medium
1         high
2         high
3    very high
4       medium
Name: Trip_Price, dtype: object

In [3]:
X = df.drop("Trip_Price", axis=1)
X.head()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Day_of_Week_Weekend,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,3,3.56,0.80,0.32,53.82,0,0,1,0
1,8.64,2,2.55,1.71,0.48,89.33,1,0,0,0
2,15.91,4,4.42,1.77,0.21,114.93,0,0,1,0
3,26.71,4,4.30,1.59,0.20,111.18,1,0,0,0
4,30.98,1,4.50,0.84,0.25,57.02,1,0,0,0

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler