# Linjer Regresson filled nan values

In [1]:
from taxipred.utils.constants import LINJER_FILLED_NA
import pandas as pd 
df = pd.read_csv(LINJER_FILLED_NA)

df.head(5)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Day_of_Week_Weekend,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,3.0,3.56,0.80,0.32,53.82,36.2624,0,0,1,0
1,36.87,1.0,2.70,1.21,0.15,37.27,52.9032,1,1,0,0
2,30.33,4.0,3.48,0.51,0.15,116.81,36.4698,0,1,0,0
3,NaN,3.0,2.93,0.63,0.32,22.64,15.6180,0,1,0,0
4,8.64,2.0,2.55,1.71,0.48,89.33,60.2028,1,0,0,0

In [3]:
X, y = df.drop("Trip_Price", axis="columns"), df["Trip_Price"]
X.head(2), y.head(2)

(   Trip_Distance_km  Passenger_Count  Base_Fare  Per_Km_Rate  Per_Minute_Rate  \
 0             19.35              3.0       3.56         0.80             0.32
 1             36.87              1.0       2.70         1.21             0.15

    Trip_Duration_Minutes  Day_of_Week_Weekend  Time_of_Day_Evening  \
 0                  53.82                    0                    0
 1                  37.27                    1                    1

    Time_of_Day_Morning  Time_of_Day_Night
 0                    1                  0
 1                    0                  0  ,
 0    36.2624
 1    52.9032
 Name: Trip_Price, dtype: float64)