# Linjer Regresson filled nan values

In [1]:
from taxipred.utils.constants import LINJER_FILLED_NA
import pandas as pd 
df = pd.read_csv(LINJER_FILLED_NA)

df.head(5)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Day_of_Week_Weekend,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night
0,19.35,3.0,3.56,0.80,0.32,53.82,36.2624,0,0,1,0
1,36.87,1.0,2.70,1.21,0.15,37.27,52.9032,1,1,0,0
2,30.33,4.0,3.48,0.51,0.15,116.81,36.4698,0,1,0,0
3,NaN,3.0,2.93,0.63,0.32,22.64,15.6180,0,1,0,0
4,8.64,2.0,2.55,1.71,0.48,89.33,60.2028,1,0,0,0

In [3]:
X, y = df.drop("Trip_Price", axis="columns"), df["Trip_Price"]
X.head(2), y.head(2)

(   Trip_Distance_km  Passenger_Count  Base_Fare  Per_Km_Rate  Per_Minute_Rate  \
 0             19.35              3.0       3.56         0.80             0.32
 1             36.87              1.0       2.70         1.21             0.15

    Trip_Duration_Minutes  Day_of_Week_Weekend  Time_of_Day_Evening  \
 0                  53.82                    0                    0
 1                  37.27                    1                    1

    Time_of_Day_Morning  Time_of_Day_Night
 0                    1                  0
 1                    0                  0  ,
 0    36.2624
 1    52.9032
 Name: Trip_Price, dtype: float64)

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

print(f"{X_train.shape = }")
print(f"{X_test.shape = }")
print(f"{y_train.shape = }")
print(f"{y_test.shape = }")

X_train.shape = (637, 10)
X_test.shape = (314, 10)
y_train.shape = (637,)
y_test.shape = (314,)

Gonna fill nan values here but only in x traib/test to prevet datalekage

In [5]:
values_mean = X_train.mean()

X_train_nonan = X_train.fillna(values_mean)
X_test_nonan = X_test.fillna(values_mean)

In [6]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()
scale.fit(X_train_nonan)
scaled_X_train = scale.transform(X_train_nonan)
scaled_X_test = scale.transform(X_test_nonan)

scaled_X_test.shape, scaled_X_train.shape

((314, 10), (637, 10))

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(scaled_X_train,y_train)
model.coef_, model.intercept_

(array([34.8726358 ,  0.47828672,  0.32938148, 10.65318043,  6.30872179,
         9.48172624, -0.73299109, -0.86839809, -0.22380331, -1.32762732]),
 np.float64(55.48228606344443))

In [8]:
test_sample_1 = scaled_X_test[0].reshape(1,-1)
test_sample_2 = y_test.values[0]
test_sample_1, test_sample_2

(array([[-0.37947624, -1.36109827, -1.29150872, -0.88613607,  0.00384842,
         -1.39351082, -0.64463599, -0.50636968, -0.62273555, -0.31949354]]),
 np.float64(24.0367))

In [9]:
pred_y = model.predict(scaled_X_test)
pred_y

array([ 20.01955956,  51.57625308,  40.06646631,  39.17326084,
        76.15318125,  17.38681967,  12.53136184,  63.86054248,
        50.47292789,  73.29131224, 192.6837191 ,  52.65040828,
        29.63591914,  54.18326546, -18.47584416,  71.92517923,
        58.38676149,  63.22729551,  37.56557844,  61.74781668,
        67.11765229,  57.59676104, 208.21175084,  41.92528483,
        87.45960114, 189.05316803,  37.01795398,  33.40957233,
        62.08211343,  36.39434559,  40.62923225,  64.03016266,
        81.63967453,  81.51840479,  93.88136838,  39.20933969,
        47.9739597 ,  58.67863914,  37.99886767,  89.58330206,
        47.7321263 ,  43.85962434,  48.93902262,  59.82530423,
        32.65880429,  78.42032981,  57.40445359,  57.3681265 ,
        51.22159682,  52.81004558,  68.50176619,  54.12562511,
        88.53324476,  18.13888078,  53.56900444,  79.52195485,
       112.41956453,  85.02259065,  33.99874311,  84.40371198,
        98.19665709,  14.21175407,  31.50752666,  13.64744145,
        81.01151145,  55.90450439,  78.44728534,  68.23364052,
        71.72518023,  -7.08796275,  59.20742372, 201.04676488,
         7.5800342 ,  47.0729187 ,  95.0026812 ,   7.8244591 ,
        36.90093285,  84.8991107 ,  83.97974011,  20.03429428,
        25.67458313,  26.14588057,  52.99044301,  23.61481258,
        10.91698027, 103.84470321,  54.44072092,  88.84389007,
        77.59453822,  88.81968691,  91.3016774 ,  76.92457271,
        84.07935287,  31.75031039,  60.11767233, 101.86797292,
        34.66830094,  54.3882217 ,  30.47892286,  41.8434432 ,
        35.93099496,  26.52339417,  97.02799137,  43.00914459,
        74.88562403,  64.96232921,  64.64697081,  74.49860453,
       215.65032088,  88.4185485 ,  50.86007261,  24.02492541,
        49.63544262,   4.41516206,  70.4871803 ,  75.88526215,
        52.67270475,  62.97066946,  23.23388487,  59.78436509,
        64.90133995,  40.58478953,  63.23361879,  95.39998553,
        81.22415294,  59.78902483,  55.61447601,  58.22023305,
        11.28667153,  83.09883037, 113.65283969,  69.76779133,
        51.46694148,  62.86622524,  79.5462964 ,  92.38727878,
        68.71673427,  32.78167256,  74.2480923 ,  61.75105427,
        57.56667004,  47.90162279, 100.53866028,  51.53217272,
       -16.54210638,  28.91248226,  50.6579922 , 272.41865323,
        29.72387135,  51.94129613,   5.90662082,  35.29624835,
        59.08235363, 115.25249989,  61.0208162 ,  40.55254186,
        32.54848154,  50.9292459 ,  90.48797826,  45.59959494,
        78.15973673,  52.35701408,  62.1955381 ,  54.34395381,
        75.08678294,  56.87672088,  35.55273429, 109.16309387,
        56.20970263,  61.92333185,  17.59370703,  40.02636727,
        81.33212071,  69.4256794 ,  31.69805981,  78.99854333,
        47.82449214,  12.39261113,  29.2577705 ,  34.11072616,
        64.42753352,  64.41602415, 125.4845746 ,  66.47812335,
       -12.44348132,  21.49930596,  58.2394784 ,  86.19299834,
        74.59303527, 113.27193193,  62.43242998,  70.90714009,
        31.54369209,  72.06741251,  95.54882904, 108.91661466,
        98.83033471,   4.85296334,  47.30070982,  96.8778375 ,
        64.42220698,  42.42584229,  89.61501713,  84.9028474 ,
        36.48191145,  -3.19768907,  84.46836903, 100.15347349,
        84.64158012,  95.42833554,  60.05723913,  75.07613213,
        90.66281294,  25.33297003,  13.81092432,  72.71224599,
        67.72682189,  12.06902521,  89.53369209, 106.72339544,
        66.79960755,  64.47247239,  10.5522144 ,  47.96466076,
        68.2580137 ,  68.65724959,  83.53510523,  45.36195569,
        40.83814472,  96.03001251,  39.48245679, 110.23739739,
        36.78960748,  42.24951442,  71.17694478,  36.98282071,
        32.57696796,  55.46610929, 106.55263432,  35.50267453,
        42.51425646,  77.23187461,  42.96308227,  48.79427563,
        89.83127901,  68.30163782,  52.91963953,  48.41049984,
        21.24311609,   9.07216374,  31.00681324,  22.24101359,
       198.13272464, 112.54159248,  89.01801142, 228.04777113,
        47.93863616,  90.1613588 ,  75.41427931,  51.97076019,
        13.03548269,  48.38832305,  43.15935326, -11.61415444,
       -28.29244363,  71.24443092,  94.4608981 ,  -1.19249163,
        10.53834709,  83.49048592,  25.31691463,  11.33431089,
        55.59875981,  31.80839738,  37.52808552,  42.00203341,
        30.47432658,  33.04783957,  96.63570702,   9.9178812 ,
        13.68713642,  18.47177087, -14.59587731,  73.32732909,
       122.40186268,  88.82484226,  89.99416776,  92.08824773,
        68.12744231,  70.25454283,  31.43148619,   5.38944504,
        66.44462979,  69.97969364,  43.22023319,  18.65384733,
        69.21953872,  39.53737917, 102.86728989,  19.3138912 ,
        38.50290618, 100.27098996,  59.21759662,   2.98334274,
        23.79262173,  64.07324011,  54.01156718,  18.1736028 ,
        36.95362884,  25.78767105,  62.65217647,  82.26927725,
        30.53532783,  29.48717499])

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

mean_ab_er = mean_absolute_error(y_test,pred_y)
mean_sq_er = mean_squared_error(y_test,pred_y)
root_me_sq_er = np.sqrt(mean_sq_er)

print(f"Mean absolut error {mean_ab_er}, Mean squarerd error {mean_sq_er}, Root Mean squared error {root_me_sq_er}")

Mean absolut error 9.510847547245534, Mean squarerd error 215.57370217114592, Root Mean squared error 14.682428347216476

In [11]:
base_line = np.mean(y_test)
base_with_mae = mean_absolute_error(y_test, [base_line]*len(y_test))
base_line, base_with_mae

(np.float64(59.6996599055302), 25.07280855350934)