# Model Development

## Logistic regression

In [1]:
from taxipred.utils.constants import TAXI_REMOVED_NA
import pandas as pd 
df = pd.read_csv(TAXI_REMOVED_NA)

df.head(5)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekday,Day_of_Week_Weekend
0,19.35,3,3.56,0.80,0.32,53.82,36.2624,0,0,1,0,1,0
1,36.87,1,2.70,1.21,0.15,37.27,52.9032,0,1,0,0,0,1
2,30.33,4,3.48,0.51,0.15,116.81,36.4698,0,1,0,0,1,0
3,8.64,2,2.55,1.71,0.48,89.33,60.2028,1,0,0,0,0,1
4,41.79,3,4.60,1.77,0.11,86.95,88.1328,0,0,0,1,0,1

In [4]:
y=df["Trip_Price"]
y.head()

0    36.2624
1    52.9032
2    36.4698
3    60.2028
4    88.1328
Name: Trip_Price, dtype: float64

In [5]:
X = df.drop("Trip_Price", axis=1)
X.head()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekday,Day_of_Week_Weekend
0,19.35,3,3.56,0.80,0.32,53.82,0,0,1,0,1,0
1,36.87,1,2.70,1.21,0.15,37.27,0,1,0,0,0,1
2,30.33,4,3.48,0.51,0.15,116.81,0,1,0,0,1,0
3,8.64,2,2.55,1.71,0.48,89.33,1,0,0,0,0,1
4,41.79,3,4.60,1.77,0.11,86.95,0,0,0,1,0,1

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

print(f"{X_train.shape = }")
print(f"{X_test.shape = }")
print(f"{y_train.shape = }")
print(f"{y_test.shape = }")

X_train.shape = (421, 12)
X_test.shape = (208, 12)
y_train.shape = (421,)
y_test.shape = (208,)

In [8]:
X_train.head(5)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekday,Day_of_Week_Weekend
435,30.92,4,2.47,1.31,0.23,15.73,0,0,1,0,1,0
499,8.47,2,3.33,1.15,0.20,61.93,0,1,0,0,0,1
488,27.59,1,3.69,0.58,0.49,113.43,0,0,0,1,0,1
469,31.76,3,3.01,0.90,0.10,33.58,0,0,1,0,1,0
403,5.26,1,3.74,1.65,0.31,67.50,0,0,1,0,1,0

In [9]:
y_train.head()

435    46.5931
499    25.4565
488    75.2729
469    34.9520
403    33.3440
Name: Trip_Price, dtype: float64